# Configuration variables
#########################

define OWNAS       = {{ dn42_ownas }};

define OWNIP       = {{ dn42_ownip }};
define OWNNET      = {{ dn42_ownnet }};
define OWNNETSET   = {{ dn42_ownnetset }};

define OWNNETv6    = {{ dn42_ownnet_v6 }};
define OWNIPv6     = {{ dn42_ownipv6 }};
define OWNNETSETv6 = {{ dn42_ownnetset_v6 }};

# BGP community
define BANDWIDTH   = {{ dn42_bandwidth }};
define LINKTYPE    = {{ dn42_linktype }};
define REGION      = {{ dn42_region }};
define COUNTRY     = {{ dn42_country }};
