# Configuration variables
#########################

define OWNAS       = {{ dn42_ownas }};

define OWNIP       = {{ dn42_ownip }};
{% for net in dn42_ownnet %}
define OWNNET_{{ loop.index }}    = {{ net }};
{% endfor %}
define OWNNETSET   = [{% for net in dn42_ownnet %}{{ net }}+{% if not loop.last %}, {% endif %}{% endfor %}];

define OWNIPv6     = {{ dn42_ownipv6 }};
{% for net in dn42_ownnet_v6 %}
define OWNNETv6_{{ loop.index }}  = {{ net }};
{% endfor %}
define OWNNETSETv6 = [{% for net in dn42_ownnet_v6 %}{{ net }}+{% if not loop.last %}, {% endif %}{% endfor %}];

# BGP community
define BANDWIDTH   = {{ dn42_bandwidth }};
define LINKTYPE    = {{ dn42_linktype }};
define REGION      = {{ dn42_region }};
define COUNTRY     = {{ dn42_country }};
