---
- name: Set OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] | lower }}.yaml"
- name: Install bind packages
  ansible.builtin.package:
    pkg: "{{ item }}"
    state: present
  with_items:
    - "{{ bind_packages }}"

- name: Create options named configuration file
  ansible.builtin.template:
    src: options.j2
    dest: "{{ bind_conf_dir }}/named.conf.options"
    owner: "{{ bind_owner }}"
    group: "{{ bind_group }}"
    validate: named-checkconf %s
  notify:
    - Restart bind

- name: Create local named configuration file
  ansible.builtin.template:
    src: config.j2
    dest: "{{ bind_conf_dir }}/named.conf.local"
    owner: "{{ bind_owner }}"
    group: "{{ bind_group }}"
    validate: named-checkconf %s
  notify:
    - Restart bind

- name: Copy all zone files
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/zones/{{ item.zone_name | replace('/', '-') }}.zone"
    dest: "{{ bind_zone_dir }}/db.{{ item.zone_name | replace('/', '-') }}"
    owner: "{{ bind_owner }}"
    group: "{{ bind_group }}"
    validate: named-checkzone {{ item.zone_name }} %s
  notify:
    - Reload bind
  loop: "{{ bind_primary_zones }}"

- name: Enable service bind
  ansible.builtin.service:
    name: "{{ bind_service }}"
    enabled: true
