---
- name: Set OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] | lower }}.yaml"

###
# Preparation
###

- name: Checkout the configuration repository
  ansible.builtin.git:
    repo: "{{ dn42_config_repository }}"
    dest: "{{ dn42_config_directory }}"

- name: Sysctl configuration
  ansible.builtin.import_tasks:
    file: sysctl.yaml
- name: Bird installation and configuration
  ansible.builtin.import_tasks:
    file: bird.yaml
- name: Wireguard installation and configuration
  ansible.builtin.import_tasks:
    file: wireguard.yaml
